/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  /* background: url(naruto-team-seven.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */ 
  text-align: center;  
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}
* {
  font-size: large;
  font-family: Impact;
  color: black;
  line-height: 1.5;
}
h1 {
  font-size: xx-large;
}
button {
	font-size: 1em;
	border-radius: 0.3em;
	width: 5em;
}
.displayOutputField {
  display: inline-block;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding : 1em;
  text-align: center;
  font-weight: bold;
  border : 0.25em solid;
  border-radius: 1em;
  /* width: 400px;
  height: 400px; */
}
.plates {
  border: solid black 2px;
  background-color: yellow;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 0.5em;
  padding: 5px;
}
.message {
  color: red;
}
.inputReg {
  width: 500px;
  height: 50px;
  border: solid black 2px;
  padding: 5px;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    
  }
  
  @media only screen and (min-width: 45em) {  /* 720px */
    
  } 
  
  @media only screen and (min-width: 60em) { /* 960px */

  }